{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
    <title> File Share</title>

</head>
<body>

    <a href="{% url "logout" %}" class="btn btn-danger pull-right"> Se déconnecter </a>

    

    {% block content %}
    
    {% endblock  %}
    
</body>
</html>