{% extends "layout.html" %}
{% load widget_tweaks %}
{% block content %}



<!--login modal-->

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    
    <div class="modal-dialog">
        {% comment %} <a href="{% url "home" %}"><div class="btn btn-primary">Retour</div></a> {% endcomment %}
        {% comment %} <div class="modal-content"> {% endcomment %}
            
            <div class="modal-body">
                {% comment %} <span class="label label-primary"> {{ message }} </span> {% endcomment %}
                <form method="POST" class="form col-md-12 center-block">
                    {% csrf_token %}
                    {% comment %} <div class="form-group">
                        <input type="text" name="username" class="form-control input-lg" placeholder="Nom d'utilisateur">
                    </div> {% endcomment %}
    
                    <div class="form-group">
                        <input type="email" name="email" class="form-control input-lg" placeholder="Email">
                    </div>
    
                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-lg" placeholder="Password">
                    </div>

                <div class="">
                    <button type="submit" class="btn btn-primary btn-lg ">Ajouter</button>
                    <button type="reset"class="btn btn-danger btn-lg pull-right " >Annuler</button>
                </div>
                </form>
            </div>
        {% comment %} </div> {% endcomment %}
    </div>
  </div>


{% endblock  %}